<div class="layer">
    <div class="main_container">
        <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="table_data">
          
              <!-- Position Column -->
              <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="birth">
                <th mat-header-cell *matHeaderCellDef> Birth Date </th>
                <td mat-cell *matCellDef="let element"> {{element.birth}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> <button mat-flat-button class="btn">DELETE</button> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </section>
    </div>
</div>

