<div   class=" main_container">
    <div class="layer_one">
        <div class="col-md-4 login-form">
            <div class="title ">Create User</div>
            <div [formGroup]="formGroup"  class=" d-flex justify-content-center align-items-center custom-form layer_two">
                <form class="example-form">
                    <mat-label >First Name</mat-label>
                    <mat-form-field [formGroup]="formGroup" class="example-full-width mt-2" appearance="outline">
                      <input formControlName="first_name" type="text" matInput >
                    </mat-form-field>
                    <mat-label >Last Name</mat-label>
                    <mat-form-field [formGroup]="formGroup" class="example-full-width mt-2" appearance="outline">
                      <input formControlName="last_name" type="text" matInput >
                    </mat-form-field>
                    <mat-label >Email</mat-label>
                    <mat-form-field [formGroup]="formGroup" class="example-full-width mt-2" appearance="outline">
                      <input formControlName="email" type="email" matInput >
                    </mat-form-field>
                    <mat-form-field [formGroup]="formGroup" class="date-picker" appearance="outline">
                        <mat-label>Choose a date</mat-label>
                        <input formControlName="birth" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </form>
            </div>
            <div class="action-btn">
                <button (click)="submit()" [disabled]="formGroup.invalid" mat-flat-button class="submit-btn">create</button>
            </div>
        </div>
    </div>
</div>


