/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 15px !important;
  }
  .mdc-checkbox__background{
    border-radius: 5px !important;
  }
